---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

import "../styles/global.css";
const pageTitle = "My Astro Learning Blog";

// const postArr = [
// 	{ title: "Post 1", link: "posts/post-1", target: "_target" },
// 	{ title: "Post 2", link: "posts/post-2", target: "_target" },
// 	{ title: "Post 3", link: "posts/post-3", target: "_target" },
// ];

const allPosts = Object.values(import.meta.glob("./posts/*.md", { eager: true }));
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<BaseLayout pageTitle={pageTitle}>
			<h2>My Astro Learning Blog</h2>
			<p>This is where I will post about my journey learning Astro.</p>
			<ul>
				<!-- {
					postArr.map((post) => (
						<li>
							<a target={post.target} href={post.link}>
								{post.title}
							</a>
						</li>
					))
				} -->
				{
					allPosts.map((post: any, index: any) => (
						// <li>
						// 	<a href={post.url}>{post.frontmatter.title}</a>
						// </li>
						<BlogPost url={post.url} title={post.frontmatter.title} index={`Post ${index + 1}`} />
					))
				}
			</ul>
		</BaseLayout>
		<script>
			import "../scripts/menu.js";
		</script>
	</body>
</html>
